<section class="py-24 px-6 bg-[#f3efe6] text-center">

    <div class="max-w-5xl mx-auto px-6">

        <!-- 🟤 Ceremonia & Recepción -->
        <div class="grid md:grid-cols-2 gap-8 mb-12">

            <!-- Ceremonia -->
            <div class="bg-white/70 backdrop-blur rounded-2xl shadow-md p-8 text-center">
                <div
                    class="w-12 h-12 mx-auto mb-4 flex items-center justify-center rounded-full bg-accent/20 text-accent text-xl">
                    <svg class="w-[36px] h-[36px] text-accent dark:text-accent" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.3"
                            d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z" />
                    </svg>

                </div>

                <h3 class="font-heading text-xl text-foreground mb-2">Ceremonia</h3>
                <p class="text-muted-foreground font-body text-sm mb-4">6:30 pm</p>
                <!-- Decoración corazón -->
                <div class="flex items-center justify-center gap-4 pt-0 mb-3">
                    <div class="h-px w-16 bg-linear-to-r from-transparent to-accent"></div>

                    <svg class="w-4 h-4 text-accent" viewBox="0 0 24 24" fill="currentColor">
                        <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 
        2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09
        C13.09 3.81 14.76 3 16.5 3
        19.58 3 22 5.42 22 8.5
        c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
                    </svg>

                    <div class="h-px w-16 bg-linear-to-l from-transparent to-accent"></div>
                </div>
                <p class="font-body text-foreground">Jardin Secreto</p>
                <p class="font-body text-muted-foreground text-sm">
                    Jardin secreto, ceremonia al aire libre
                </p>
            </div>

            <!-- Recepción -->
            <div class="bg-white/70 backdrop-blur rounded-2xl shadow-md p-8 text-center">
                <div
                    class="w-12 h-12 mx-auto mb-4 flex items-center justify-center rounded-full bg-accent/20 text-accent text-xl">
                    <svg class="w-[36px] h-[36px] text-accent dark:text-accent" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.3"
                            d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>

                </div>

                <h3 class="font-heading text-xl text-foreground mb-2">Recepción</h3>
                <p class="text-muted-foreground font-body text-sm mb-4">08:00 pm</p>
                <!-- Decoración corazón -->
                <div class="flex items-center justify-center gap-4 pt-0 mb-3">
                    <div class="h-px w-16 bg-linear-to-r from-transparent to-accent"></div>

                    <svg class="w-4 h-4 text-accent" viewBox="0 0 24 24" fill="currentColor">
                        <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 
        2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09
        C13.09 3.81 14.76 3 16.5 3
        19.58 3 22 5.42 22 8.5
        c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
                    </svg>

                    <div class="h-px w-16 bg-linear-to-l from-transparent to-accent"></div>
                </div>
                <p class="font-body text-foreground">Jardín Principal</p>
                <p class="font-body text-muted-foreground text-sm">
                    Cena, baile y celebración
                </p>
            </div>

        </div>

        <!-- 🟤 Ubicación -->
        <div class="bg-white/70 backdrop-blur rounded-2xl shadow-md p-10 text-center mb-12">

            <div
                class="w-12 h-12 mx-auto mb-4 flex items-center justify-center rounded-full bg-accent/20 text-accent text-xl">
                <svg class="w-[36px] h-[36px] text-accent dark:text-accent" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.3"
                        d="M12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.3"
                        d="M17.8 13.938h-.011a7 7 0 1 0-11.464.144h-.016l.14.171c.1.127.2.251.3.371L12 21l5.13-6.248c.194-.209.374-.429.54-.659l.13-.155Z" />
                </svg>

            </div>

            <h3 class="font-heading text-xl text-foreground mb-2">Ubicación</h3>
            <p class="font-body text-muted-foreground mb-6">
                Jardin Secreto
            </p>

            <div class="bg-[#f5f3ee] rounded-xl p-4 mb-6">
                <p class="text-muted-foreground text-sm">
                    Barrio Los mangos, a mano izquierda del puente choluteca
                </p>
            </div>

            <!-- Aquí va el mapa -->
            <div class="rounded-xl overflow-hidden mb-6 shadow">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3879.486544502733!2d-87.1941958854244!3d13.311206604130812!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f703d18b52bf2bb%3A0x8868327da8fc7d46!2sJardin%20Secreto!5e0!3m2!1ses-419!2shn!4v1708145600000!5m2!1ses-419!2shn"
                    width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>

            <a href="https://www.google.com/maps/place/Jardin+Secreto/@13.3112066,-87.1941959,17z/data=!3m1!4b1!4m6!3m5!1s0x8f703d18b52bf2bb:0x8868327da8fc7d46!8m2!3d13.3112066!4d-87.189325!16s%2Fg%2F11mtr82gsm?entry=ttu&g_ep=EgoyMDI2MDIxMS4wIKXMDSoASAFQAw%3D%3D"
                target="_blank"
                class="inline-block bg-accent/20  text-black px-6 py-3 rounded-full font-body shadow hover:opacity-90 transition">
                Abrir en Google Maps
            </a>

        </div>

        <!-- 🟤 Info inferior -->
        <div class="grid md:grid-cols-3 gap-8">

            <div class="bg-white/70 backdrop-blur rounded-2xl shadow-md p-8 text-center">
                <div class="text-accent text-2xl mb-4"><svg
                        class=" mx-auto text-accent dark:text-accent" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-width="1.3"
                            d="M7 17v1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1a3 3 0 0 0-3-3h-4a3 3 0 0 0-3 3Zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                    </svg>
                </div>
                <h4 class="font-heading text-foreground mb-2">Código de Vestimenta</h4>
                <p class="text-muted-foreground text-sm">Formal / Gala</p>
            </div>

            <div class="bg-white/70 backdrop-blur rounded-2xl shadow-md p-8 text-center">
                <div class="text-accent text-2xl mb-4">
                    <svg class=" mx-auto text-accent dark:text-accent" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.3"
                            d="M10 21v-9m3-4H7.5a2.5 2.5 0 1 1 0-5c1.5 0 2.875 1.25 3.875 2.5M14 21v-9m-9 0h14v8a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1v-8ZM4 8h16a1 1 0 0 1 1 1v3H3V9a1 1 0 0 1 1-1Zm12.155-5c-3 0-5.5 5-5.5 5h5.5a2.5 2.5 0 0 0 0-5Z" />
                    </svg>

                </div>
                <p class="text-muted-foreground text-sm">Su presencia es lo más importante para nosotros. Pero si deseas hacernos un obsequio pedimos porfavor sea en efectivo</p>
            </div>

            <div class="bg-white/70 backdrop-blur rounded-2xl shadow-md p-8 text-center">
                <div class="text-accent text-2xl mb-4">
                    <svg class=" mx-auto text-accent dark:text-accent" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.3"
                            d="M13 7h6l2 4m-8-4v8m0-8V6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v9h2m8 0H9m4 0h2m4 0h2v-4m0 0h-5m3.5 5.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Zm-10 0a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z" />
                    </svg>

                </div>
                <h4 class="font-heading text-foreground mb-2">Estacionamiento</h4>
                <p class="text-muted-foreground text-sm">
                    Estacionamiento con seguridad privada disponible
                </p>
            </div>

        </div>

    </div>
</section>