<section class="w-full h-full bg-[#f5f3ee] border-b border-[#e8e4da] ">

  <div class="max-w-5xl mx-auto text-center py-14 px-6">

    <!-- Corazón decorativo -->
    <div class="flex items-center justify-center gap-4 mb-6">
      <div class="w-12 h-[1px] bg-accent/40"></div>
      <span class="text-accent text-sm">❤</span>
      <div class="w-12 h-[1px] bg-accent/40"></div>
    </div>

    <!-- Nombres -->
    <h1 class="font-heading text-4xl md:text-5xl text-foreground mb-3 tracking-wide">
      Yoselin & Fabricio
    </h1>

    <!-- Fecha -->
    <p class="font-body text-sm tracking-[0.3em] text-muted-foreground uppercase mb-8">
      7 de marzo de 2026
    </p>

    <!-- Navegación -->
    <div class="flex justify-center gap-10 text-sm tracking-widest">

      <!-- Subir -->
      <a
        routerLink="/photos"
        routerLinkActive="text-accent border-b-2 border-accent"
        class="font-body pb-2 text-muted-foreground hover:text-accent transition"
      >
        SUBIR FOTOS
      </a>

      <!-- Galería -->
      <a
        routerLink="/gallery"
        routerLinkActive="text-accent border-b-2 border-accent"
        class="font-body pb-2 text-muted-foreground hover:text-accent transition"
      >
        GALERÍA
      </a>

    </div>

  </div>

</section>